:root  > * {  
    
  --md-primary-fg-color: #232225;
  --md-primary-bg-color:#FFFFFF;
  
  --md-primary-fg-color--light:#232225;
  --md-primary-fg-color--dark:#232225;
  
  --md-primary-bg-color--light:#FFFFFF;
  
  --md-accent-fg-color: #6578da;
  --md-accent-fg-color--transparent:#000000;
  --md-accent-bg-color:#000000;

  --md-accent-bg-color--light:#000000;

}